@CHARSET "ISO-8859-1";

@font-face 
{
	font-family: "Gloria Hallelujah", "cursive";
}

body 
{
	width: 90%;
	font-size: 110%;
	padding: 2%;
}

h1, h2
{
	font-size: 150%;
	font-family: 'Gloria Hallelujah', 'cursive';
}

a
{
	color: #606060;
}

#tabs
{
	list-style-type:none;
	margin:0;
	padding:0;
	width: 100%;
}

#tabs li
{
	float: left;
	width: 19.8%;
	font-family: 'Gloria Hallelujah', 'cursive';
}

#tabs #hometab, #tabs #stafftab, #tabs #eventstab, #tabs #prodtab, #tabs #contacttab
{
	color: #989898;
	background-color: white;
	text-strength: bold;
	border: double #989898 medium;
	width: 19.8%;
}


#tabs li a, #hometab, #stafftab, #eventstab, #prodtab, #contacttab
{
	display: block;
	width: 100%;
	text-align: center;
	float: left;
	text-decoration: none;
	text-strength: bold;
}

#tabs li a.navbar
{
	color: white;
	background-color: #989898;
	border: double white medium;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
}

#tabs li a.navbar:hover
{
	background: #606060;
}

#logopic
{
	width: 100%;
}

#staff, #maincontent
{
	width: 100%;
	float: left;
} 

#maincontent a
{
	color: #989898;
}


#primary
{
	width: 60%;
	float: left;
}

#secondary
{
	width: 30%;
	float: right;
	border: double white medium;
	padding: 1%;
	margin: 7% auto auto auto;
	background-color: #989898;
	color: white;
}

#footer
{
	width: 100%;
	clear: both;
}

#footer a
{
	color: white;
	text-strength: bold;
	font-family: "Gloria Hallelujah", "cursive";
}

#footera, #footerb, #footerc
{
	width: 25%;
	background-color: #989898;
	border: double white medium;
	border-radius: 25px;
	text-align: justify;
	padding: 2%;
	margin: 1.8%;
	float: left;
}


#Claire, #Jamie, #Lippy
{
	float: left;
}

#Jamie
{
	clear: left;
}

#Ruth, #Teeny, #Dee
{
	float: right;
}

#Claire, #Jamie, #Lippy, #Ruth, #Teeny, #Dee
{
	width: 45%;
	border: double white medium;
	margin: 2%;
	background-color: white;
}


#staff
{
	width: 96%;
	background-color: #989898;
	border: double white medium;
	padding: 2%;
}

#staff h1, #staff h3
{
	color: white;
}

.question
{
	font-stength: bold;
}

.answer
{
	font-style: italic;
}

#productions h3
{
	text-align: center;
}

#productions img
{
	float: left;
}

#prod01, #prod02, #prod03, #prod04
{
	width: 45%;
	background-color: #989898;
	border: double white medium;
	margin: 1%;
	padding: 1%;
	color: white;
}

#prod01, #prod03
{
	float: left;
}

#prod02, #prod04
{
	float: right;
}

#prod01
{
	clear: left;
}

.poster
{
	margin: 2%;
}

#sidenav
{
	width: 35%;
	float: left;
	margin-top: 5%;
	padding-bottom: 50%;
	border: double white medium;
	background-color: #989898; 
	color: white;
	line-height: 300%;
}

#sidenav h4, #sidenav h2
{
	text-align: center;
}

#sidenav li
{
	width: 100%;
	color: white;
	font-strength: bold;
	color: white;
	list-style-type: none;
	text-decoration: none;
}

#sidenav li a
{
	color: white;
}


#details
{
	width: 60%;
	float: right;
	margin-top: 5%;
}

#details .poster
{
	float: left;
}

#details ul
{
	list-style-type: none;
}

#review
{
	width: 100%;
	clear: both;
}

#contactdetails
{
	width: 45%;
	float: right;
	
	border: double white medium;
	padding: 1%;
	margin: 7% auto auto auto;
	
	background-color: #989898;
	color: white;
}

#officepic
{
	float: left;
	width: 45%;
}

#directions
{
	width: 95%;
	padding: 2%;
	clear: both;
}

#writtendirections
{
	width: 50%;
	float: left;
}

#map
{
	float: right;
}

#officepic
{
	margin-bottom: 5%;
}

#mainevent
{
	width: 70%;
	float: left;
}

#mainevent .poster
{
	float: left;
}

#workshop01, #workshop02, #workshop03
{
	width: 25%;
	float: right;
	border: double white medium;
	padding: 1%;
	background-color: #989898;
	color: white;
}

#workshop01 h4, #workshop02 h4, #workshop03 h4
{
	font-family: "Gloria Hallelujah", "cursive";
}

#description
{
	width: 60%;
	float: left;
}

#classdetails
{
	width: 30%;
	float: right;
}




